/*
bright red: #d23a30
mid red: #87201b;
dark red: #35001c;
pink: #e001be;
yellow: #ffe769;
dark yellow: #fcba02;
orange: #f37400;
fb blue: #3b5998;

*/

@import 'https://fonts.googleapis.com/css?family=Dosis|Roboto:300,400';
* {
    margin: 0;
    padding: 0;
}

.loader {
    margin-top: 16%;
    position: absolute;
    margin-left: 43%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    border-right: 16px solid red;
    border-bottom: 16px solid black;
    border-left: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

canvas {
    cursor: move;
    display: block;
}

#canvas{
    margin-bottom: -550px;
}

/*
.container-fluid{
    margin-top: -350px;
}
*/


/*******************************************************************************************/


/*START PAGE*/

body {
    /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
    background: url("../images/signin-bg1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.userInfo{
	margin-top: 20px;
}


button#userName{
	border: none;
	cursor:none;
}

button#userName:hover, button#userName:focus, button#userName:active{
	background: transparent;
	border: none;

}

.btn{
	padding: 10px 25px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
	
}

.btn:hover, .btn:focus {
	background: linear-gradient(to right, #f37400, #fcba02);
    border-color: transparent;
	color: #fff;
    outline: none;


}

.btn:hover, .btn:active:focus{
	outline: none;
}

#blackJack, #videoPoker {
    max-width: 90%;
}

#gameOption {
	margin-top: 50px;
}


.panel-default>.panel-heading{
	background: linear-gradient(to right, #f37400, #fcba02);
	color: #ffffff;
	border-bottom:none;

}

img#videoPoker, img#blackJack {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

img#videoPoker:hover, img#blackJack:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

img.blink {
  -webkit-animation: glow .3s alternate infinite;
  animation: glow .3s alternate infinite;
}
@-webkit-keyframes glow {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(2);
    filter: brightness(2);
  }
}
@keyframes glow {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(2);
    filter: brightness(2);
  }
}


img.test{
  -webkit-animation: glowtest .3s alternate infinite;
  animation: glowtest .3s alternate infinite;
}
@-webkit-keyframes glowtest {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(1.35);
    filter: brightness(1.35);
  }
}
@keyframes glowtest {
  0% {
    -webkit-filter: brightness(1);
    filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(1.3);
    filter: brightness(1.3);
  }
}


h2.panel-title{
	font-weight: bolder;
	text-align: center;
}

.panel{
	border: 1px solid #f37400;
	background-color: transparent;
	color: #fff;
	margin-top: 50px;
}

.table>thead>tr>th{
	border-bottom: 0.5px dashed #fff;
	text-transform: uppercase;
	color: #fcba02 ;
}

th{
	font-weight: normal;
}


.table>tbody>tr:hover{
	background:linear-gradient(to right, #f37400, #fcba02);


}